body {
  margin: auto;
  padding: 70px;
  width: 700px;
}
h1 {
  color: #0d6efd;
  font-weight: bold;
  margin-bottom: 0px;
}
.currentTemp {
  font-size: 55px;
  font-weight: bold;
  color: #011627;
  margin: 0px;
}

h6 {
  font-weight: bold;
  color: #0d6efd;
  opacity: 0.8;
}

p {
  color: #011627;
  opacity: 0.3;
  font-size: 15 px;
}
.date {
  margin-bottom: 4px;
}

.cloud-sunny-icon {
  color: #011627;
  position: relative;
  top: 15px;
  left: 30px;
  width: 150px;
}
.cloud-sun-icon {
  font-size: 40px;
  padding: 10px;
  color: #011627;
  opacity: 0.8;
}
.cloud-icon {
  font-size: 40px;
  padding: 10px;
  color: #011627;
  opacity: 0.8;
}
.cloud-sun-rain-icon {
  font-size: 40px;
  padding: 10px;
  color: #011627;
  opacity: 0.8;
}
.showers-heavy-icon {
  font-size: 40px;
  padding: 10px;
  color: #011627;
  opacity: 0.8;
}
.smog-icon {
  font-size: 40px;
  padding: 10px;
  color: #011627;
  opacity: 0.8;
}

.sun-icon {
  font-size: 40px;
  padding: 10px;
  color: #011627;
  opacity: 0.8;
}
.City input {
  padding-right: 10px;
  width: 30px;
}
.linkGit {
  font-size: 10px;
  color: black;
  opacity: 0.4;
  padding-top: 15px;
  text-align: center;
}
.description {
  text-transform: capitalize;
}
.b {
  font-weight: bold;
}
.weather-temp .units {
  font-size: 15px;
  position: relative;
  top: -28px;
}
